%div(ng-app="poirot" ng-controller="LogController")
  %div.row
    %div.col-md-12
      %div.input-group(ng-class="{'has-error': queryError}")
        %input.form-control(ng-model="queryString" ng-keypress="queryKeyPress($event)")
        %span.input-group-btn
          %button.btn.btn-default(ng-click="runQuery()") Query

    %table.table.table-stripped.table-hover.log-entries
      %thead
        %tr
          %th Time
          %th Activity
          %th Pid
          %th Level
          %th Source
          %th Message
      %tbody
        %tr(ng-repeat="entry in entries" class="{{entry.cssClass}}")
          %td {{entry.timestamp}}
          %td(ng-class="{'clickable': entry.activity.toLowerCase() != 'undefined'}" ng-click="openActivity(entry)") {{entry.activity}}
          %td {{entry.pid}}
          %td {{entry.level}}
          %td {{entry.source}}
          %td {{entry.message}}

  %div.row.log-pager(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Older
      %li
        {{fromEntry()}}-{{toEntry()}} of {{totalEntries}} entries
      %li.next
        %a(href="#" ng-click="nextPage()") Newer &rarr;

