%div
  %p Time component
  %p {{model}}
  %p {{bar}}
  %div
    %label
      %input(type="radio" ng-model="selectionKind" value="span")
      Time span
    %label
      %input(type="radio" ng-model="selectionKind" value="custom")
      Custom date
  %div(ng-switch="selectionKind")
    %div(ng-switch-when="span")
      %h1 SPAN
      .btn-group
        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")
          {{ selectedSpanName() }}
          %span.caret
        %ul.dropdown-menu(role="menu")
          %li(ng-repeat="span in spans")
            %a(href="#" ng-click="selectSpan($index)") {{ span.name }}
      %p Selected index {{selectedSpanIndex}}
      %div
        .btn-group
          %button(type="button" class="btn btn-default" ng-class="{'active': endingAt == null}" ng-click="selectEndingAtNow()") Now
          %button(type="button" class="btn btn-default" ng-class="{'active': endingAt != null}" ng-click="selectEndingAtDate()") Date
        %div(ng-if="endingAt != null")
          %input(type="text" ng-model="endingAt")
          %button(type="button" ng-click="moveEndingAtBack()") Back 30 min
          %button(type="button" ng-click="moveEndingAtForward()") Forward 30 min


    %div(ng-switch-when="custom")
      %h1 CUSTOM
      .input-group
        %input(date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" options="{'opens': 'left'}")
        %span.input-group-addon
          %i(class="glyphicon glyphicon-calendar fa fa-calendar")
      %p Model: {{datePicker.date}}
