%br
%div(ng-app="poirot" ng-controller="LogEntriesController")
  %script{type: 'text/ng-template', id: 'attr_table.html'}
    = render partial: 'shared/attr_table'
  %script{type: 'text/ng-template', id: 'time.html'}
    = render partial: 'shared/time'

  .row
    .col-md-8
      .attr-filters(style="margin-bottom: 8px" ng-if="filters.length > 0")
        %span(ng-repeat="filter in filters")
          %span.label.label-primary<
            %span.glyphicon.glyphicon-remove(style="cursor: pointer;" ng-click="removeFilterAt($index)")<
            {{filter | attributeFilter }}
      .input-group(ng-class="{'has-error': queryError}")
        %input.form-control(ng-model="queryStringInput" ng-keyup="queryKeyPress($event)")
        %span.input-group-btn
          %button.btn.btn-default(ng-click="runQuery()") Query
          %span.notify-link
            %a(ng-show="lastQuery" data-toggle="modal" data-target="#save-notification-modal" href="#") Notify me

      .message-tooltip.level-icon(ng-show="tooltip.visible" ng-style="tooltip.style" class="{{tooltip.cssClass}}")
        {{tooltip.message}}

      %table.table.table-stripped.table-hover.log-entries
        %colgroup
          %col
          %col.timestamp
          %col.short-id
          %col.pid
          %col.source
        %thead
          %tr
            %th Message
            %th Time
            %th Activity
            %th Pid
            %th Source

        %tbody
          %tr(ng-repeat="entry in entries" class="{{entry.cssClass}}")
            %td.message.clickable(class="level-icon {{entry.cssClass}}" ng-mouseenter="showTooltip(entry, $event)" ng-mouseout="hideTooltip()" ng-click="open(entry)")
              {{entry.message}}
            %td {{formatTimestamp(entry.timestamp)}}
            %td
              %a(title="{{entry.activity}}" ng-href="{{logEntryActivityUrl(entry)}}")
                {{entry.activity | limitTo: 8}}
            %td {{entry.pid}}
            %td {{entry.source}}

    .col-md-4
      %time(model="timeModel")

      %h4 Fields
      %ul
        %li(ng-repeat="attr in attributes")
          %a(href="#" ng-click="selectAttribute(attr)") {{ attr.displayName }}
          %p-attr-table(ng-if="selectedAttr == attr" type="log_entries" attribute="attr" query="queryString" filters="filters" time="timeFilter")


  %div.row.pager-footer(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Newer
      %li
        {{fromEntry()}}-{{toEntry()}} of {{totalEntries}} entries
      %li.next
        %a(href="#" ng-click="nextPage()") Older &rarr;

  #save-notification-modal.modal.fade(ng-controller="SaveNotificationController")
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" class="close" data-dismiss="modal") ×
          %h3 Notify me
        .modal-body
          %div
            Receive notifications in your email when new log entries match this query:
          %div
            %kbd
              {{lastQuery}}
          %br
          %form(ng-submit="save()" role="form")
            .form-group
              %label(for="email") Email
              %input.form-control(ng-model="email" type="text" id="email")
            .form-group
              %label(for="subject") Subject
              %input.form-control(ng-model="subject" type="text" id="subject")
            .error(ng-show="error") {{error}}

        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          %button.btn.btn-primary(type="button" ng-click="save()") {{saveMessage}}
