%div.log-index(ng-app="poirot" ng-controller="LogEntriesController")
  .grid-header
    %div.input-group(ng-class="{'has-error': queryError}")
      %input.form-control(ng-model="queryString" ng-keyup="queryKeyPress($event)")
      %span.input-group-btn
        %button.btn.btn-default(ng-click="runQuery()") Query
        %span.notify-link
          %a(ng-show="lastQuery" data-toggle="modal" data-target="#save-notification-modal" href="#") Notify me

    %table.table.table-stripped.table-hover.log-entries-header
      %colgroup
        %col
        %col.timestamp
        %col.short-id
        %col.pid
        %col.source
      %thead
        %tr
          %th Message
          %th Time
          %th Activity
          %th Pid
          %th Source

  .grid-viewport
    .message-tooltip.level-icon(ng-show="tooltip.visible" ng-style="tooltip.style" class="{{tooltip.cssClass}}")
      {{tooltip.message}}
    %table.table.table-stripped.table-hover.log-entries
      %colgroup
        %col
        %col.timestamp
        %col.short-id
        %col.pid
        %col.source
      %tbody
        %tr(ng-repeat="entry in entries" class="{{entry.cssClass}}")
          %td.message(class="level-icon {{entry.cssClass}}" ng-mouseenter="showTooltip(entry, $event)" ng-mouseout="hideTooltip()")
            {{entry.message}}
          %td {{entry.timestamp}}
          %td(ng-class="{'clickable': entry.activity.toLowerCase() != 'undefined'}" ng-click="openActivity(entry)") {{entry.activity | limitTo: 8}}
          %td {{entry.pid}}
          %td {{entry.source}}

  %div.row.pager-footer(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Older
      %li
        {{fromEntry()}}-{{toEntry()}} of {{totalEntries}} entries
      %li.next
        %a(href="#" ng-click="nextPage()") Newer &rarr;

  #save-notification-modal.modal.fade(ng-controller="SaveNotificationController")
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" class="close" data-dismiss="modal") ×
          %h3 Notify me
        .modal-body
          %div
            Receive notifications in your email when new log entries match this query:
          %div
            %kbd
              {{lastQuery}}
          %br
          %form(ng-submit="save()" role="form")
            .form-group
              %label(for="email") Email
              %input.form-control(ng-model="email" type="text" id="email")
            .form-group
              %label(for="subject") Subject
              %input.form-control(ng-model="subject" type="text" id="subject")
            .error(ng-show="error") {{error}}

        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          %button.btn.btn-primary(type="button" ng-click="save()") {{saveMessage}}
