%div.logentry(ng-app="poirot" ng-controller="LogEntryController")
  %header(class="{{cssClass}}")
    %a.parent(ng-if="logEntry.activity && logEntry.activity != 'undefined'" ng-click="openActivity(logEntry.activity)")
    %b
      {{logEntry.message || "(no message)"}}
    %span.activity-title

  %script#metadata-item(type="text/ng-template")
    .metadata-item(ng-repeat="(key, value) in fields")
      .metadata-value(ng-switch on="typeof(value)")
        %span(ng-switch-when="object")
          %span(ng-if="typeof(value) == 'object'") {{key}}
          %ng-include(src="'metadata-item'" ng-repeat="fields in [value]")
        %span(ng-switch-default) {{key}}: {{value}}

  %section.metadata-visible
    .metadata-view
      .title
        Log entry metadata
      .metadata-item(ng-repeat="(key, value) in metadata")
        .metadata-key {{key}}
        .metadata-value(ng-switch on="typeof(value)")
          %span(ng-switch-when="object")
            %ng-include(src="'metadata-item'" ng-repeat="fields in [value]")
          %span(ng-switch-default) {{value}}
