.activity {
  .explorer {
    position: fixed;
    background-color: rgb(249,250,249);
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
  }

  .details {
    position: absolute;
    left: 200px;
    right: 10px;
    top: 50px;
    padding-left: 10px;
    overflow: auto;
    border-left: 1px dashed lightgray;

    tbody tr:nth-child(odd) td {
      padding-bottom: 1px;
      font-size: 90%;
      white-space: nowrap;
    }
    tbody tr:nth-child(even) td {
      padding-top: 1px;
      border-top: none;
    }

    tbody tr.selected td {
      background-color: #e2e8ff;
    }
  }

  .flowLine {
    display: inline-block;
    width: 15px;
    height: 3px;
    margin-right: 5px;
  }
}

.explorer svg {
	shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

.explorer .tools {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 24px;
  color: gray;

  .tool {
    margin-left: 4px;
    cursor: pointer;
  }
}

