.activity {
  .explorer {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
  }

  .details {
    position: absolute;
    left: 200px;
    right: 10px;
    top: 50px;
    padding-left: 10px;
    overflow: auto;
    border-left: 1px dashed lightgray;

    tbody tr.selected td {
      background-color: #e2e8ff;
    }
  }

  .flowLine {
    display: inline-block;
    width: 15px;
    height: 3px;
    margin-right: 5px;
  }

  table.log-entries {
    table-layout: fixed;

    tbody td:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: 4px center;

      &.level-debug {
        background-image: url(/assets/debug.png);
      }
      &.level-info {
        background-image: url(/assets/info.png);
      }
      &.level-warning, &.level-warn {
        background-image: url(/assets/alert.png);
      }
      &.level-error {
        background-image: url(/assets/error.png);
      }
      &.level-fatal, &.level-critical {
        background-image: url(/assets/fatal.png);
      }
    }
  }
}

.explorer svg {
	shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

.explorer .tools {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 24px;
  color: gray;

  .tool {
    margin-left: 4px;
    cursor: pointer;
  }
}

