// Place all the styles related to the Log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.level-debug {
  color: gray;
}
.level-info {
  color: black;
}
.level-notice {
  color: darkcyan;
  background-color: azure !important;
}
.level-error, .level-alert, .level-emergency {
  color: rgb(192,0,0);
  background-color: #f2dede !important;
}
.level-alert, .level-emergency {
  font-weight: bold;
}
.level-warning, .level-warn {
  color: orange;
  background-color: cornsilk !important;
}

table.log-entries-header {
  font-size: 90%;
  table-layout: fixed;
}

table.log-entries {
  font-size: 90%;
  table-layout: fixed;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td.clickable {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: blue;
    }
  }
}

.slideLeft {
  position: relative;
  transition: 0.2s;
  left: -110%;
}
.slideRight {
  position: relative;
  transition: 0.2s;
  left: 110%;
}

.pager-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;

  &.floating {
    box-shadow: 0 0 15px rgba(0,0,0,.5);
  }

  .pager {
    margin: 10px 25px;
  }
}

.log-index {
  position: absolute;
  top: 60px;
  bottom: 50px;
  left: 20px;
  right: 20px;

  .grid-header {
    position: absolute;
    height: 68px;
    padding: 0 5px;
  }

  .grid-viewport {
    position: absolute;
    top: 68px;
    bottom: 0;
    overflow: auto;
    padding: 0 5px;

  }
}

