.metadata-view {

  .title {
    padding: 8px;
    height: 36px;
    font-weight: bold;
  }

  .metadata-item {
    margin-left: 20px;

    .metadata-key {
      margin-top: 8px;
      font-weight: bold;
    }
  }
}
