%h1 Access Denied

%p You don't have access to this Poirot server.

%p If you think you should have access, please contact with the server administrator.

= link_to 'Try with a different user', destroy_user_session_path, method: :delete
