%br
%div(ng-app="poirot" ng-controller="ActivityIndexController")
  .row{style: "margin-left: 20px; margin-right: 20px;"}
    .col-md-8
      .input-group(ng-class="{'has-error': queryError}")
        %input.form-control(ng-model="queryString" ng-keypress="queryKeyPress($event)")
        %span.input-group-btn
          %button.btn.btn-default(ng-click="runQuery()") Query

      %table.table.table-stripped.table-hover.activities
        %colgroup
          %col.short-id
          %col.short-id
          %col
          %col.timestamp
          %col.timestamp
          %col.source
        %thead
          %tr
            %th Activity
            %th Parent
            %th Description
            %th Start
            %th End
            %th Source
        %tbody
          %tr(ng-repeat="activity in activities" ng-click="open(activity.id)")
            %td.clickable(title="{{activity.id}}") {{activity.id | limitTo: 8}}
            %td(title="{{activity.parent_id}}" ng-click="open(activity.parent_id, $event)" ng-class="{'clickable': activity.parent_id}")
              {{activity.parent_id | limitTo: 8}}
            %td.description {{activity.description}}
            %td {{activity.start}}
            %td {{activity.stop}}
            %td {{activity.source}}
    .col-md-4
      Show events since:
      .btn-group
        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")
          {{ selectedIntervalName() }}
          %span.caret
        %ul.dropdown-menu(role="menu")
          %li(ng-repeat="interval in intervals()")
            %a(href="#" ng-click="selectInterval($index)") {{ interval.name }}

      %h4 Fields
      %ul
        %li(ng-repeat="attr in attributes")
          %a(href="#" ng-click="selectAttribute(attr)") {{ attr.displayName }}
          %table.table(ng-if="selectedAttrValues && selectedAttr == attr")
            %thead
              %tr
                %th Value
                %th Count
            %tbody
              %tr(ng-repeat="attrValue in selectedAttrValues")
                %td
                  %span.glyphicon.glyphicon-search.attr-filter(ng-click="addFilter(attr, attrValue.key)")
                  {{ attrValue.key }}
                %td {{ attrValue.doc_count }}

  %div.row.pager-footer(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Newer
      %li
        {{fromActivity()}}-{{toActivity()}} of {{totalCount}} activities
      %li.next
        %a(href="#" ng-click="nextPage()") Older &rarr;

