%br
%div(ng-app="poirot" ng-controller="ActivityIndexController")
  %script{type: 'text/ng-template', id: 'attr_table.html'}
    = render partial: 'shared/attr_table'
  %script{type: 'text/ng-template', id: 'time.html'}
    = render partial: 'shared/time'

  .row
    .col-md-8
      .attr-filters(style="margin-bottom: 8px" ng-if="filters.length > 0")
        %span(ng-repeat="filter in filters")
          %span.label.label-primary<
            %span.glyphicon.glyphicon-remove(style="cursor: pointer;" ng-click="removeFilterAt($index)")<
            {{filter | attributeFilter }}

      .input-group(ng-class="{'has-error': queryError}")
        %input.form-control(ng-model="queryStringInput" ng-keypress="queryKeyPress($event)")
        %span.input-group-btn
          %button.btn.btn-default(ng-click="runQuery()") Query

      %table.table.table-stripped.table-hover.activities
        %colgroup
          %col.short-id
          %col.short-id
          %col
          %col.timestamp
          %col.timestamp
          %col.source
        %thead
          %tr
            %th Activity
            %th Parent
            %th Description
            %th Start
            %th End
            %th Source
        %tbody
          %tr(ng-repeat="activity in activities" class="level-{{activity.level}}")
            %td(class="level-icon level-{{activity.level}}")
              %a(title="{{activity.id}}" ng-href="{{activityUrl(activity)}}")
                {{activity.id | limitTo: 8}}
            %td
              %a(title="{{activity.parent_id}}" ng-href="{{parentActivityUrl(activity)}}")
                {{activity.parent_id | limitTo: 8}}
            %td.description {{activity.description}}
            %td {{formatTimestamp(activity.start)}}
            %td {{formatTimestamp(activity.stop)}}
            %td {{activity.source}}
    .col-md-4
      %time(model="timeModel")

      %h4 Fields
      %ul
        %li(ng-repeat="attr in attributes")
          %a(href="#" ng-click="selectAttribute(attr)") {{ attr.displayName }}
          %p-attr-table(ng-if="selectedAttr == attr" type="activities" attribute="attr" query="queryString" filters="filters" time="timeFilter")

  %div.row.pager-footer(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Newer
      %li
        {{fromActivity()}}-{{toActivity()}} of {{totalCount}} activities
      %li.next
        %a(href="#" ng-click="nextPage()") Older &rarr;
