%div(ng-app="poirot" ng-controller="ActivityIndexController")
  %div.row
    %div.col-md-12
      %div.input-group(ng-class="{'has-error': queryError}")
        %input.form-control(ng-model="queryString" ng-keypress="queryKeyPress($event)")
        %span.input-group-btn
          %button.btn.btn-default(ng-click="runQuery()") Query

    %table.table.table-stripped.table-hover.activities
      %colgroup
        %col.short-id
        %col.short-id
        %col
        %col.timestamp
        %col.timestamp
        %col.source
      %thead
        %tr
          %th Activity
          %th Parent
          %th Description
          %th Start
          %th End
          %th Source
      %tbody
        %tr(ng-repeat="activity in activities" ng-click="open(activity.id)")
          %td.clickable(title="{{activity.id}}") {{activity.id | limitTo: 8}}
          %td(title="{{activity.parent_id}}" ng-click="open(activity.parent_id, $event)" ng-class="{'clickable': activity.parent_id}")
            {{activity.parent_id | limitTo: 8}}
          %td.description {{activity.description}}
          %td {{activity.start}}
          %td {{activity.stop}}
          %td {{activity.source}}

  %div.row.pager-footer(ng-if="shouldPage()")
    %ul.pager
      %li.previous
        %a(href="#" ng-click="prevPage()") &larr; Older
      %li
        {{fromActivity()}}-{{toActivity()}} of {{totalCount}} activities
      %li.next
        %a(href="#" ng-click="nextPage()") Newer &rarr;

