%div.activity(ng-app="poirot" ng-controller="ActivityController")

  .explorer
    %svg#flow-viewer

  .details
    %table.heading.table
      %colgroup
        %col.gutter
        %col
        %col.timestamp
      %thead
        %tr
          %th
          %th Message
          %th Time
        
    .grid-viewport
      %table.table.table-striped.table-hover.log-entries
        %colgroup
          %col.gutter
          %col
          %col.timestamp
        %tbody
          %tr(ng-repeat="entry in entries" ng-click="selectEntry($index)")
            %td(class="gutter {{entry.selected ? 'selected' : ''}}")
              %span(ng-if="entry.selected" class="arrow" style="border-right-color: {{entry.activityColor}}")
              %span.gutter(style="background-color: {{entry.activityColor}}")
            %td(class="{{entry.cssClass}}")
              {{entry.message}}
            %td {{entry.timestamp}}

