%div.activity(ng-app="activity_viewer" ng-controller="ActivityController")

  .explorer
    %svg#flow-viewer

  .details
    %table.table.table-stripped.table-hover.log-entries
      %colgroup
        %col(width="4px")
        %col
        %col(width="200px")
      %thead
        %tr
          %th
          %th Message
          %th Time
      %tbody
        %tr(ng-repeat="entry in entries" class="{{entry.extraCss}}")
          %td(style="background-color: {{entry.activityColor}}")
          %td(class="{{entry.cssClass}}")
            {{entry.message}}
          %td {{entry.timestamp}}

