%div.activity(ng-app="poirot" ng-controller="ActivityController")
  %header
    %a.parent(ng-if="mainActivity.parent_id && mainActivity.parent_id != 'undefined'" ng-href="{{parentActivityUrl(mainActivity)}}")
    %a.activity-button(ng-click="toggleMetadata()")
    %b
      {{mainActivity.description || "(no description)"}}
    %span.activity-title

  %script#metadata-item(type="text/ng-template")
    .metadata-item(ng-repeat="(key, value) in fields")
      .metadata-value(ng-switch on="typeof(value)")
        %span(ng-switch-when="object")
          %span(ng-if="typeof(value) == 'object'") {{key}}
          %ng-include(src="'metadata-item'" ng-repeat="fields in [value]")
        %span(ng-switch-default) {{key}}: {{value}}

  %section.metadata-visible(ng-class="{'metadata-visible' : metadataVisible}")
    .metadata-view
      .title
        Activity metadata
      .metadata-item
        .metadata-key id
        .metadata-value {{ metadataActivity.id }}
      .metadata-item(ng-repeat="(key, value) in metadataActivity.fields")
        .metadata-key {{key}}
        .metadata-value(ng-switch on="typeof(value)")
          %span(ng-switch-when="object")
            %ng-include(src="'metadata-item'" ng-repeat="fields in [value]")
          %span(ng-switch-default) {{value}}

    .details
      %table.heading.table
        %colgroup
          %col.flow
          %col.gutter
          %col
          %col.timestamp
        %thead
          %tr
            %th
            %th
            %th Message
            %th Time

      .grid-viewport
        .message-tooltip.level-icon(ng-show="tooltip.visible" ng-style="tooltip.style" class="{{tooltip.cssClass}}")
          {{tooltip.message}}
        %table
          %tr
            %td.explorer.flow
              %svg#flow-viewer
            %td
              %table.table.table-striped.table-hover.log-entries
                %colgroup
                  %col.gutter
                  %col
                  %col.timestamp
                %tbody
                  %tr(ng-repeat="entry in entries" ng-click="selectEntry($index)")
                    %td(class="gutter {{entry.selected ? 'selected' : ''}}")<
                      %span.gutter(style="background-color: {{entry.activityColor}}")<
                      %span(ng-if="entry.selected" class="arrow" style="border-right-color: {{entry.activityColor}}")<>
                    %td(class="level-icon {{entry.cssClass}}" ng-mouseenter="showTooltip(entry, $event)" ng-mouseout="hideTooltip()")
                      {{entry.message}}
                    %td {{formatTimestamp(entry.timestamp)}}
                  %tr(ng-if="incompleteActivities")
                    %td(class="gutter")<
                      %span.gutter<
                    %td(align="center" colspan="2")
                      %i To be continued...
